body {
    position: relative;
    background-image:url("http://www.webdesignburn.com/wp-content/uploads/2015/04/Grey-Texture-Background-and-Wallpaper-9.jpg");
    background-repeat:repeat;
    font-family: "Times New Roman";
    background-size:cover;
    margin-top: 0;
}

h2,h1{
    color:white;
}
h3 {
    font-size:15px;
    text-decoration:none;
}

#mp {                           /* to dim bg when sign up box comes up*/
    position :fixed;
    left:0;
    top:0;
    width:200%;
    height:100%;
    background-color:black;
    opacity:0.6;
    display:none;
}

a {
    color:white;
    text-decoration:none;
    font-size:25px;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 50%;
}

.container {
    position: relative;
    margin: 0 auto;
    text-align:justify;
    max-width: 1500px;
    padding:20px;
    color: black;
    width : 100%;
    height:100%;
}


.articleContainer {
    position:relative;
    background-color:rgb(247, 232, 187);
    top:400px;
    padding : 40px;
    max-width:800px;
    left: 50%;
    transform: TRANSLATEX(-50%);
}

.hiddenlist {
	background-color:transparent;
    width:600px;
	padding:20px;
   
}

/*tab functions */
#tabs {
    margin: 0;
	top :0;
	font-weight:bold;
    font-size:25px;
}
#homeTab {
    position:absolute;
 	right: 40%;
}
#profileTab {
    position:absolute;
 	right:25%;
}

.button_like_HL {
    background-color:transparent;
	border:none;
	color:white;
  	font-size:25px;
    text-decoration:none;
}
#signUpTab {
    position:absolute;
 	right: 5%;
 	font-family:"Times New Roman";
 	font-weight:bold;
	display:block;
}

#signOutTab {
    position:absolute;
 	right: 5%;
 	font-family:"Times New Roman";
 	font-weight:bold;
	display:none;
}

/* signup box and its elements*/
#signUpBox {
	display : none;
	position:fixed;
	top: 50%;
	left:50%;
	transform: translate(-50%, -50%);
	box-shadow: 10px 10px 5px #212121;
	background-color:white;
	padding :50px; 
}

#submitButton {
    width:200px;
    background-color:#abb2b5;
    color:black;
    height:35px;
    box-shadow: 10px 10px 5px #cec7c7;
    font-size:20px;
}

#logsubmitButton {
    border:none;
    background-color:transparent;
    font-size:15px;
}

#username,#password {
    width:200px;
    height:20px;
    font-size:15px;
    background-color:transparent;
    border-top:none;
    border-left:none;
    border-right:none;

}

/*End of components of signup box*/

/*mainpage begins*/

#mpPic {                            /*The picture on mainpage*/
    position:absolute;
    right:0;
    top:0;
    height:100%;
    width:50%;
}

#MPheading {                        /*src file showing title*/
	position:absolute;
	opacity:0.7;
    width:70%;
    bottom:8%;
    left: 50%;
    transform: TRANSLATEX(-50%);
}

#compPic {
    position:absolute;
    height:100%;
    width:100%;
    right:0;
    top:0;
}

#mpArticles {
    position:relative;
    height:100%;
    width:50%;
    top:0;
    left:0;
}

#articleH {
    position:absolute;
    top:0;
    left: 50%;
    transform: TRANSLATEX(-50%);
}

#articleList {
    position:relative;
    left: 50%;
    transform: TRANSLATEX(-50%);
	top:10%;
	list-style:none;

}

.list {
    position:relative;
	background-color:rgb(247, 232, 187);
	box-shadow: 10px 10px 5px #504f4f;
   	width:80%;
	padding:10px 20px;
    font-size:15px;
	color:black;
}

.listHyp {
    color:#5b9813;
    float:right;
    font-weight:bold;
    font-size:12px;
 }
 

/* About me begins */

#profile-pic{
    position: relative;
    top:80px;
    left: 50%;
    transform: TRANSLATEX(-50%);
   }

#profile-text{
    position: relative;
    background-color:rgb(247, 232, 187);
    top:50%;
    left: 50%;
    transform: TRANSLATEX(-50%);
    max-width:1000px;
    padding :30px;
}

#side-text{
    position: relative;
    background-color:rgb(247, 232, 187);
    width:300px;
    padding:20px;
    margin:0;
    top:90px;
    left:60%;
    font-size:15px;
    line-height: 30px;
    
}

#bottom-text{
    position: relative;
    background-color:rgb(247, 232, 187);
    padding:20px;
    top:500px;
    left: 50%;
    transform: TRANSLATEX(-50%);
    text-align: justify;
    max-width:1000px;
    line-height: 30px;
    font-size:15px;
    z-index:-1;
}


/*Article begins*/
#article-pic{
    position: absolute;
    margin:0;
    top:50px;
    left: 50%;
    transform: TRANSLATEX(-50%);
}







.submitbutton{
    background-color:brown;
    color:white;
}

.rtAlign{
    text-align: center;
    color:green;
}




#closeButton {
	position : absolute;
	margin: 0;
	top :5px;
	right:3px;
	background-color:transparent;
	border:none;
	text-decoration:none;
	font-size:15px;
	font-family:"Arial";
}


#articles {

	position:absolute;
	text-align:center;
	color:white;
	font-weight:bold;
	font-size:50px;
	
}




#commentList {
    position:relative;
    width:70%;
    font-size:15px;
  	list-style:none;
  	left:8%;
}

.indComment {
    background-color:white;
    padding-left:10px;
    padding-right:10px;
    padding-top:1px;
    padding-bottom:1px;
}




 .bigBold {
     size:20px;
     font-weight:bold;
 }
 
 .listHeading {
     font-size:20px;
     font-weight:bold;
 }

.likes {
    float:right;
    font-size:12px;
}

#commentDisplay {
    position:relative;
    left:10%;
    display:none;
}

#comment {
    position:relative;
    width: 700px;
    left:-5%;
} 
#commentB {
    position:relative;
    right:1%;
    top:0;
    width:120px;
}

.likeBox {
    position:absolute;
    top:40px;
    right:40px;
}