body {
    position: relative;
    background-image:url("http://www.webdesignburn.com/wp-content/uploads/2015/04/Grey-Texture-Background-and-Wallpaper-24.jpg");
   /*background-position:center;*/
    font-family: "Times New Roman";
    height:600px;	
   background-size:cover;
    margin-top: 75px;
}
#tabs {
   position:absolute;
    height:50px;
    width:160%;
    left:-280px;
    top:-100px; 
    background-color:grey;
    color:white;
}

#compPic {
    position:absolute;
    height:450px;
    width:70%;
    right:-10px;
    top:-40px;
}

#wood {
    position:absolute;
    height:150%;
    width:33%;
    left:-10px;
    top:-40px;    
}
a {
    color:#C70039;
    font-weight:bold;
    text-decoration:none;
    font-size:20px;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}

.container {
    position: relative;
    font-family:sans-serif;
    margin: 0 auto;
    text-align:left;
    max-width: 1000px;
    padding-left:20;
    padding-right:20;
    color: black;
}

#profile-pic{
    position: absolute;
    margin:0;
    top:0;
    left:0;
}

#side-text{
    position: absolute;
    margin:0;
    top:20px;
    left:400px;
}

#bottom-text{
    position: absolute;
    margin:0;
    top:250px;
    left:0;
    text-align: justify;
    line-height: 30px
}

.submitbutton{
    background-color:brown;
    color:white;
}

.rtAlign{
    text-align: center;
    color:green;
}

.profile {
    background:url(https://s-media-cache-ak0.pinimg.com/564x/8b/98/b7/8b98b71ae62f2762c0548249eca5106d.jpg);
    background-color:green;
}

/*added from local*/
#homeTab {
 	position:absolute;
	margin: 0;
	top :15px;
	right: 25%;
	font-size:20px;
}
#profileTab {
 	position:absolute;
	margin: 0;
	top :15px;
	right:17%;
	font-size:20px;
}
#signUpTab {
 	position:absolute;
	margin: 0;
	top :15px;
	right: 5%;
	background-color:transparent;
	border:none;
	color:#C70039;
 	font-weight:bold;
	font-family:"Times New Roman";
    	text-decoration:none;
	font-size:20px;
}


#signUpBox {
	display : none;
	position:fixed;
	top: 50%;
	left:50%;
	transform: translate(-50%, -50%);
	box-shadow: 10px 10px 5px #888888;
	background-color:white;
	padding :50px; 
}

#closeButton {
	position : absolute;
	margin: 0;
	top :5px;
	right:3px;
	background-color:transparent;
	border:none;
	font-weight:bold;
	text-decoration:none;
	font-size:15px;
}


#articles {

	position:absolute;
	width:800px;
	left:100px;
	text-align:center;
	color:black;
	font-weight:bold;
	font-size:40px;
	
}

#articleOne {
	position:absolute;
	background-color:white;
border:4px solid black;
	width:800px;
	left:100px;
	top:90px;
	padding:20px;
font-size:20px;
	color:black;
}
#articleTwo {
	position:absolute;
	background-color:#4793d0;
	width:800px;
	left:100px;
	top:190px;
	padding:20px;
	color:white;
}
#articleThree {
	position:absolute;
	background-color:white;
border:4px solid navy;
	width:800px;
	left:100px;
	top:290px;
	padding:20px;
	color:black;
}


#MPheading {
	position:absolute;
	color:black;
	text-align: right;
	font-family:"Verdana";
	font-size:100px;
	top:260px;
	right:-300px;
}
