body {
    position: relative;
    background-image:url("http://www.webdesignburn.com/wp-content/uploads/2015/04/Grey-Texture-Background-and-Wallpaper-9.jpg");
    background-repeat:repeat;
    font-family: "Times New Roman";
    background-size:cover;
    margin-top: 75px;
}

h2,h1{
    color:white;
}
h3 {
    font-size:15px;
    text-decoration:none;
}

#mp {
    position :fixed;
    left:0;
    top:0;
    width:200%;
    height:100%;
    background-color:black;
    opacity:0.6;
    display:none;
}
#articleH {
    position:absolute;
    top:-60px;
}
#compPic {
    position:absolute;
    height:117%;
    width:50%;
    right:0;
    top:-90px;
}

a {
    color:white;
    font-weight:bold;
    text-decoration:none;
    font-size:20px;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 40%;
}

.container {
    position: relative;
    
    background-image:url("http://www.webdesignburn.com/wp-content/uploads/2015/04/Grey-Texture-Background-and-Wallpaper-9.jpg");
    background-repeat:repeat;
    font-family: "Times New Roman";
    background-size:cover;
    margin-top: 75px;
    
    
    font-family:sans-serif;
    margin: 0 auto;
    text-align:justify;
    max-width: 1000px;
    padding-left:20px;
    padding-right:20px;
    color: black;
    width : 100%;
    height:100%;
}

.articleContainer {
    position:relative;
    background-color:rgb(247, 232, 187);
    top:400px;
    padding : 40px;
}

#profile-pic{
    position: absolute;
    margin:0;
    top:0;
    left:100px;
}

#article-pic{
    position: absolute;
    margin:0;
    top:0;
    left: 50%;
    transform: TRANSLATEX(-50%);
}


#side-text{
    position: relative;
    background-color:rgb(247, 232, 187);
    width:300px;
    padding:20px;
    margin:0;
    top:90px;
    left:60%;
    font-size:15px;
    line-height: 30px;
    
}

#bottom-text{
    position: relative;
    background-color:rgb(247, 232, 187);
    padding:20px;
    top:200px;
    left:0;
    text-align: justify;
    line-height: 30px;
    font-size:15px;
    z-index:-1;
}

.submitbutton{
    background-color:brown;
    color:white;
}

.rtAlign{
    text-align: center;
    color:green;
}

.profile {
    background:url(https://s-media-cache-ak0.pinimg.com/564x/8b/98/b7/8b98b71ae62f2762c0548249eca5106d.jpg);
    background-color:green;
}

/*added from local*/
#homeTab {
 	position:absolute;
	margin: 0;
	top :-30px;
	right: 20%;
	font-size:25px;
}
#profileTab {
 	position:absolute;
	margin: 0;
	top :-30px;
	right:5%;
	font-size:25px;
}
#signUpTab {
 	position:absolute;
	margin: 0;
	top :-30px;
	right: -19%;
	background-color:transparent;
	border:none;
	color:white;
 	font-weight:bold;
	font-family:"Times New Roman";
    text-decoration:none;
	font-size:25px;
	display:block;
}

#signOutTab {
 	position:absolute;
	margin: 0;
	top :-30px;
	right: -12%;
	background-color:transparent;
	border:none;
	color:white;
 	font-weight:bold;
	font-family:"Times New Roman";
    text-decoration:none;
	font-size:25px;
	display:none;
}

#signUpBox {
	display : none;
	position:fixed;
	top: 50%;
	left:50%;
	transform: translate(-50%, -50%);
	box-shadow: 10px 10px 5px #212121;
	background-color:white;
	padding :50px; 
}

/*components of signup box */
#submitButton {
    width:200px;
    background-color:#abb2b5;
    color:black;
    height:35px;
    box-shadow: 10px 10px 5px #cec7c7;
    font-size:20px;
}

#logsubmitButton {
    border:none;
    background-color:transparent;
    font-size:15px;
}

#username,#password {
    width:200px;
    height:20px;
    font-size:15px;
    background-color:transparent;
    border-top:none;
    border-left:none;
    border-right:none;

}

/*End of components of signup box*/

#closeButton {
	position : absolute;
	margin: 0;
	top :5px;
	right:3px;
	background-color:transparent;
	border:none;
	text-decoration:none;
	font-size:15px;
	font-family:"Arial";
}


#articles {

	position:absolute;
	text-align:center;
	color:white;
	font-weight:bold;
	font-size:50px;
	
}

#articleList {
    position:absolute;
	left:-27%;
	list-style:none;

}
.list {
	background-color:rgb(247, 232, 187);
	box-shadow: 10px 10px 5px #504f4f;
   	width:50%;
	padding:10px;
    font-size:15px;
	color:black;
}

#commentList {
    position:relative;
    width:700px;
    font-size:15px;
  	list-style:none;
  	left:8%;
}

.indComment {
    background-color:white;
    padding-left:10px;
    padding-right:10px;
    padding-top:1px;
    padding-bottom:1px;
}

.hiddenlist {
	background-color:transparent;
    width:600px;
	padding:20px;
   
}

.listHyp {
    color:#3f6f3f;
    float:right;
    font-size:12px;
 }
 
 .bigBold {
     size:20px;
     font-weight:bold;
 }
 
 .listHeading {
     font-size:20px;
     font-weight:bold;
 }

.likes {
    float:right;
    font-size:12px;
}


#MPheading {
	position:absolute;
	opacity:0.7;
    width:550px;
    bottom:-680px;
    right:-17%;
}

#commentDisplay {
    position:relative;
    left:10%;
    display:none;
}

#comment {
    position:relative;
    width: 700px;
    left:-5%;
} 
#commentB {
    position:relative;
    right:1%;
    top:0;
    width:120px;
}

.likeBox {
    position:absolute;
    top:40px;
    right:40px;
}