body {
    background-image:url('http://wallpapercave.com/wp/2nec57u.jpg');
    font-family: sans-serif;
    margin-top: 75px;
}

a {
    color:#C70039;
    font-weight:bold;
    text-decoration:none;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}

.container {
    position: relative;
    font-family:sans-serif;
    margin: 0 auto;
    text-align:left;
    max-width: 800px;
    padding-left:20;
    padding-right:20;
    color: #795548;
}

#profile-pic{
    position: absolute;
    margin:0;
    top:0;
    left:0;
}

#side-text{
    position: absolute;
    margin:0;
    top:20px;
    left:400px;
}

#bottom-text{
    position: absolute;
    margin:0;
    top:250px;
    left:0;
    text-align: justify;
    line-height: 30px
}

.submitbutton{
    background-color:brown;
    color:white;
}

.leftAlign{
    text-align:right;
}

.profile {
    background:url(https://s-media-cache-ak0.pinimg.com/564x/8b/98/b7/8b98b71ae62f2762c0548249eca5106d.jpg);
    background-color:green;
}

