body {
    position: relative;
    background-image:url("http://www.webdesignburn.com/wp-content/uploads/2015/04/Grey-Texture-Background-and-Wallpaper-9.jpg");
   /*background-position:center;*/
   background-repeat:repeat;
    font-family: "Times New Roman";
    background-size:cover;
    margin-top: 75px;
}

h2,h1{
    color:white;
}
h3 {
    font-size:15px;
    text-decoration:none;
}

#articleH {
    position:absolute;
    top:-60px;
}
#compPic {
    position:absolute;
    height:117%;
    width:50%;
    right:0;
    top:-90px;
}

a {
    color:white;
    font-weight:bold;
    text-decoration:none;
    font-size:20px;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}

.container {
    position: relative;
    font-family:sans-serif;
    margin: 0 auto;
    text-align:left;
    max-width: 1000px;
    padding-left:20px;
    padding-right:20px;
    color: black;
}

.articleContainer {
    position:relative;
    top:20px;
    background-color:rgb(247, 232, 187);
    padding : 20px;
    z-index:-1;
}

#profile-pic{
    position: absolute;
    margin:0;
    top:40px;
    left:100px;
}

#side-text{
    position: relative;
    margin:0;
    top:20px;
    left:60%;
    font-size:15px;

}

#bottom-text{
    position: relative;
    top:80%;
    left:0;
    text-align: justify;
    line-height: 30px;
    font-size:15px;
}

.submitbutton{
    background-color:brown;
    color:white;
}

.rtAlign{
    text-align: center;
    color:green;
}

.profile {
    background:url(https://s-media-cache-ak0.pinimg.com/564x/8b/98/b7/8b98b71ae62f2762c0548249eca5106d.jpg);
    background-color:green;
}

/*added from local*/
#homeTab {
 	position:absolute;
	margin: 0;
	top :-30px;
	right: 20%;
	font-size:25px;
}
#profileTab {
 	position:absolute;
	margin: 0;
	top :-30px;
	right:5%;
	font-size:25px;
}
#signUpTab {
 	position:absolute;
	margin: 0;
	top :-30px;
	right: -20%;
	background-color:transparent;
	border:none;
	color:white;
 	font-weight:bold;
	font-family:"Times New Roman";
    text-decoration:none;
	font-size:25px;
}


#signUpBox {
	display : none;
	position:fixed;
	top: 50%;
	left:50%;
	transform: translate(-50%, -50%);
	box-shadow: 10px 10px 5px #888888;
	background-color:white;
	padding :50px; 
}

#closeButton {
	position : absolute;
	margin: 0;
	top :5px;
	right:3px;
	background-color:transparent;
	border:none;
	font-weight:bold;
	text-decoration:none;
	font-size:15px;
}


#articles {

	position:absolute;
	text-align:center;
	color:white;
	font-weight:bold;
	font-size:50px;
	
}

#articleList {
    position:absolute;
	left:-27%;
	list-style:none;
}
.list {
	background-color:rgb(247, 232, 187);
	box-shadow: 10px 10px 5px #504f4f;
   	width:700px;
	padding:10px;
    font-size:15px;
	color:black;
}
.hiddenlist {
	background-color:transparent;
    width:600px;
	padding:20px;
   
}

.listHyp {
    color:#3f6f3f;
    float:right;
    font-size:12px;
 }
 
 .listHeading {
     font-size:20px;
     font-weight:bold;
 }

.likes {
    float:right;
    font-size:12px;
}



#MPheading {
	position:absolute;
	opacity:0.7;
    width:550px;
    bottom:-680px;
    right:-17%;
}
